.idea
project/db-data/mongo
project/db-data/postgres
project/db-data/rabbitmq

authentication-service/authApp
broker-service/brokerApp
front-end/frontApp
listener-service/listenerApp
logger-service/loggerServiceApp
mail-service/mailerApp